/* Basic Utility Setup */

/* 
Basic Color:
#f05454
#30475E
#222831
*/
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}



h1,
h2 {
    color: #222831;
    text-transform: uppercase;
}

h3 {
    color: #222831;
    font-size: 25px;
}

p {
    line-height: 1.4;
    font-size: 1.4em;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    width: 75%;
}

ul,
li {
    list-style: none;
}

.float-left {
    float: left;
}

.float-left {
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

section {
    padding: 80px 10px;
}

/* Width */

.width-50 {
    width: 45%;
    float: left;
}

.width-30 {
    width: 30%;
    float: left;
}

.width-40{
    width: 40%;
    margin: auto;
    text-align: center;
}

/* Button */
.button {
    padding: 20px 35px;
    border-radius: 3px;
    color: white;
    background-color: #f05454;
    display: inline-block;
}

.button:hover {
    color: #222831;
}

i {
    padding-right: 11px;
    font-size: 18px;
}

.orange-helight {
    color: #f05454;
}

/* Basic Utility Setup end*/

/* me-section */
.me-section {
    height: 100vh;
}

.me-section-content {
    padding-top: 50px;
    padding-left: 20px;
}

/* about-section */
.about-section {
    height: 600px;
}

.about-section-content {
    padding-top: 50px;
    padding-left: 40px;
}

.download-img {}

/* Portfolio section */

.portfolio-section {
    background: #e8e8e83b
}

.portfolio-header {
    text-align: center;
    padding-bottom: 30px;
}

.project {
    /* margin: auto; */
}

.project-1 {
    margin-left: 5px;
    margin-right: 5px;
    background: white !important;
    padding: 5px 15px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px #8080806b;
    height: 500px;
}

.project-img {
    text-align: center;
}

.project-1 .project-summary {
    font-size: 14px;
    color: #a2a0a0;
}

.project-1 img {
    width: 100%;
}

/* work-inquery-section */
.work-inquery-section-banner {
    width: 80%;
    margin: auto;
    height: 150px;
    background-image: url('./shapes/Group_33094_1.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}

.work-inquery-section-banner .button {
    margin-right: 20px;
    margin-top: 45px;
}

.work-inquery-text {
    display: inline-block;
    color: white !important;
    margin-left: 20px;
}

.work-inquery-section-social {
    text-align: center;
    padding-top: 20px;
}

.work-inquery-section-social h3 {
    color: #a2a0a0 !important;
}

.work-inquery-section-social h2 {
    text-transform: none;
}

.socal-img {
    width: 60px;
    height: auto;
    margin-left: 3px;
    display: inline-block;
}


/* Contact section */

.contact-section {
    background: #e8e8e83b;
}
.contact-header {
    text-align: center;
    padding-bottom: 20px;
}

input,
textarea {
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    border-bottom: 3px solid #a2a0a0;
    font-size: 25px;
    display: block;
    background: transparent;
    font-family: 'Roboto', sans-serif;
}

.contact-form-send {
    text-align: left;
    margin-top: 10px;
}

.contact-form-send button {
    border: none;
    cursor: pointer;
} 


/* Footer Section */
footer {
    text-align: center;
    padding: 10px 20px;
    background: #222831;
    color:#a2a0a0;
    font-size: 14px;
}